* {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-family: Helvetica, Arial, Sans-serif;
	background-color:#F5F5F5;
}

.background {
  background-color:#283442;
}

.background2 {
  background-color:white;
}